.svn/
*.pyc
*.pyo
.DS_Store
Thumbs.db
*.swp
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
local_settings.py
.pid
.fseventsd/
.Trashes/

Build
build
dist
._*
*.egg-info

*.mode1v3
*.pbxuser
*.xcworkspace
xcuserdata

var/html/
var/db/
